<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Ika" src="{{ site.url }}/images/head2-tn.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="http://instagram.com/ikanurlaily97">
                <i class="fa fa-instagram">
                </i>
            </a>
            <a class="social" href="mailto:ikanurlaily97@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="https://www.linkedin.com/in/ika-nur-laily-fitriana-077a74111/">
                <i class="fa fa-linkedin">
                </i>
            </a>
            <a class="social" href="http://twitter.com/ika_nurlaf">
                <i class="fa fa-twitter">
                </i>
            </a>
        </div>
        <p class="description">Data - Information - Knowledge - Wisdom</p>

    </div>

</div>